.Game {
  background: #fff;
  box-shadow:
    rgb(0 0 0 / 0%) 0 0 0 0,
    rgb(0 0 0 / 0%) 0 0 0 0,
    rgb(0 0 0 / 10%) 0 4px 6px -1px,
    rgb(0 0 0 / 6%) 0 2px 4px -1px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Board {
  background: #0d2d5e;
  height: calc(100vh - 150px);
  position: absolute;
  top: 100px;
  width: 100%;
}

.TopPane,
.BottomPane {
  height: 50%;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: height 1s cubic-bezier(0.16, 1, 0.3, 1);
  width: 100%;
  will-change: transform;
}

.TopPane {
  align-content: center;
  background: #fff;
  display: grid;
  justify-items: center;
  top: 0;
}

.Game--active .TopPane {
  height: 100px;
}

.BottomPane {
  background: hsl(30deg 17% 98%);
  border-top: 1px solid #ddd;
  bottom: 0;
}

.Game--active .BottomPane {
  height: 50px;
}

.Controls {
  align-items: center;
  background: #3f72d3;
  border-radius: 50%;
  justify-content: center;
  left: 50%;
  padding: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.Settings {
  align-items: center;
  background: #3f72d3;
  border-radius: 50%;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 0;
  transform: translate(-50%, -50%);
}

.SettingsButton {
  padding: 10px;
  width: 40px;
}
