html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --ddd-blue: #3f72d3;

  --ddd-color-expressive-green-0: #fff;
  --ddd-color-expressive-green-1: #f5fbf9;
  --ddd-color-expressive-green-2: #e6f5f1;
  --ddd-color-expressive-green-3: #cde8e1;
  --ddd-color-expressive-green-4: #b9dad0;
  --ddd-color-expressive-green-5: #7bbfae;
  --ddd-color-expressive-green-6: #4ca28f;
  --ddd-color-expressive-green-7: #358171;
  --ddd-color-expressive-green-8: #2b6256;
  --ddd-color-expressive-green-9: #234840;
  --ddd-color-expressive-green-10: #19332d;
  --ddd-color-expressive-aqua-0: #fff;
  --ddd-color-expressive-aqua-1: #f5fafe;
  --ddd-color-expressive-aqua-2: #e8f3fb;
  --ddd-color-expressive-aqua-3: #cde5f9;
  --ddd-color-expressive-aqua-4: #b6d6ee;
  --ddd-color-expressive-aqua-5: #7abbdf;
  --ddd-color-expressive-aqua-6: #409ec8;
  --ddd-color-expressive-aqua-7: #237ea3;
  --ddd-color-expressive-aqua-8: #1f5f7b;
  --ddd-color-expressive-aqua-9: #1d455c;
  --ddd-color-expressive-aqua-10: #123141;
  --ddd-color-expressive-neutral-0: #fff;
  --ddd-color-expressive-neutral-1: #faf9f8;
  --ddd-color-expressive-neutral-2: #f3f2f1;
  --ddd-color-expressive-neutral-3: #e4e2e0;
  --ddd-color-expressive-neutral-4: #d4d2d0;
  --ddd-color-expressive-neutral-5: #b4b2b1;
  --ddd-color-expressive-neutral-6: #949494;
  --ddd-color-expressive-neutral-7: #767676;
  --ddd-color-expressive-neutral-8: #595959;
  --ddd-color-expressive-neutral-9: #424242;
  --ddd-color-expressive-neutral-10: #2d2d2d;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
